<div class="sheet container">
  <h3 class="brand">TuSegundazo.com</h3>
  <div class="hero">
    <img
      src="https://github.com/user-attachments/assets/1c3d23f9-d521-453c-b856-219c8884a810"
      alt="Imagen tu segundazo"
      class="hero-img"
      loading="lazy"
    />
  </div>
<div class="table-wrap">
    <table class="table table-borderless align-middle">
      <thead>
        <tr class="thead-dark">
          <th class="hash">#</th>
          <th>Marca</th>
          <th>Línea</th>
          <th>Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehiculos">
          <td class="hash">
            <dd>{{v.id}}</dd>
          </td>
          <td>
            <dd>{{v.marca}}</dd>
          </td>
          <td>
            <dd>{{v.linea}}</dd>
          </td>
          <td>
            <dd>{{v.modelo}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="totales" *ngIf="vehiculos.length">
      <div *ngFor="let c of conteoPorMarca | keyvalue">
        <span>Total {{ c.key }}:</span> {{ c.value }}
      </div>
    </div>
  </div>
</div>
